@import "colors";

Frame {
    background-color: $blue;
}

Label {
    font-size: 13;
}

.HeaderLabel {
    color: $lightblue;
}

Entry {
    background-color: transparent;
    font-size: 16;
    color: $white;
    text-align: left;
}

Editor {
    color: $white;
    font-size: 16;
}
