^ContentPage {
  background-color: #11313F;
  color: white; }

.MenuContent {
  padding-top: 40;
  background-color: #11313F; }

.MenuList {
  background-color: #11313F; }

.MenuListItem {
  color: #ffffff; }
