Frame {
  background-color: #11313F; }

Label {
  font-size: 13; }

.HeaderLabel {
  color: #8ECEBF; }

Entry {
  background-color: transparent;
  font-size: 16;
  color: #ffffff;
  text-align: left; }

Editor {
  color: #ffffff;
  font-size: 16; }
